
@page
@model BlueMountainPalace.Pages.Bookings.EditModel

@{
    ViewData["Title"] = "Blue Mountain Palace | Edit a Booking";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit a Booking</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Booking.ID" />
            <div class="form-group">
                <label asp-for="Booking.RoomID" class="control-label"></label>
                <input asp-for="Booking.RoomID" class="form-control" />
                <span asp-validation-for="Booking.RoomID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.CustomerEmail" class="control-label"></label>
                <select asp-for="Booking.CustomerEmail" class="form-control" asp-items="ViewBag.CustomerSelection"></select>
                <span asp-validation-for="Booking.CustomerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.CheckIn" class="control-label"></label>
                <input asp-for="Booking.CheckIn" class="form-control" />
                <span asp-validation-for="Booking.CheckIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.CheckOut" class="control-label"></label>
                <input asp-for="Booking.CheckOut" class="form-control" />
                <span asp-validation-for="Booking.CheckOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Cost" class="control-label"></label>
                <input asp-for="Booking.Cost" class="form-control" />
                <span asp-validation-for="Booking.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@* Result Section *@
@if (ViewData["ValidBooking"] != null)
{
    <hr />
    if ((string)ViewData["ValidBooking"] == "false")
    {
        <h6>Edit Failed: The room is unavailable with your conditions.</h6>

        <br />
    }
}
<div>
    <a asp-page="./Manage">Back to Manage Page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}